/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    border: 1px solid #000;
    max-width: 100%; /* Make the canvas responsive to the page width */
    max-height: 100vh; /* Limit the canvas height to the viewport height */
    width: auto; /* Make sure the canvas doesn't exceed its container width */
    height: auto; /* Allow the canvas to scale proportionally */
}

/* Limit the dynamicText */

#dynamicText {
    max-width: 80%; /* Adjust the maximum width as needed */
    max-height: 80vh; /* Adjust the maximum height as needed */
    width: auto;
    height: auto;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    padding: 20px; /* Add some padding for better readability */
    background-color: #f0f0f0; /* Example background color */
    border-radius: 10px; /* Example border-radius for a rounded appearance */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Example box shadow for depth */
    z-index: 1;
    overflow-y: auto; /* Enable vertical scrolling when content exceeds the height */
}
