/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    border: 1px solid #000;
    max-width: 100%; /* Make the canvas responsive to the page width */
    max-height: 100vh; /* Limit the canvas height to the viewport height */
    width: auto; /* Make sure the canvas doesn't exceed its container width */
    height: auto; /* Allow the canvas to scale proportionally */
}

/* Put modelStateText above dynamicText */

#modelStateText {
    position: absolute;
    top: 0%;
    left: 45%;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2; /* Adjusted z-index to be higher than #dynamicText */
}

/* Limit the dynamicText */

#dynamicText {
    max-width: 80%;
    max-height: 80vh;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    overflow-y: auto;
}

.descriptionText{
    font-size: 20px;
    font-weight: bold;
    color: #311ca8;
    margin-bottom: 10px;
    position: absolute;
    /* text alignment center */
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);

}